@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Teko:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-container{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #042858 , #255799);
    color: white;
    align-items: center;
    height: 75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 80px;
    padding-right: 80px;
}

.icon{
    /* width: 200px;
    float: left;
    height: 70px; */
}

.navlogo{
    color: white;
    font-family: 'Teko';
    font-size: 35px;
    /* padding-left: 20px; */
    float: left;
    cursor: pointer;
}

.menu{
    width: 400px;
    float: left;
}

.navul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navul li{
    padding: 0px 20px;
}

li{
    list-style-type: none;
}

li:hover{
    background-color: #1c6fa2;
    border-radius: 2rem;
}

a{
    color: white;
    text-decoration: none;
}

.navbtn{
    font-family: 'Poppins';
    color: white;
    font-weight: 500;
    padding: 9px 25px;
    background-color: #1c75ad;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* margin-right: 20px; */
}

.navbtn:hover{
    background-color: #196391;
}

#hero{
    background-image: url('https://i.ibb.co/V9KxKfW/visuals-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    text-shadow: 2px 2px 7px #000000;
    color: white;
    min-height: 100vh;
}

h1{
    font-family: 'Teko';
    font-size: 4rem;
    padding-top: 100px;
}

.heropara{
    /* margin-top: 20px; */
    font-family: 'Play';
    font-size: 1.6rem;
    margin-top: 30px;
}

.hero-container{
    margin-left: 80px;
}

.herobtn{
    font-family: 'Poppins';
    color: white;
    font-weight: 500;
    padding: 9px 25px;
    background-color: #1c75ad;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 40px; 
}

.herobtn:hover{
    background-color: #196391;
}


#about{
    min-height: 100vh;
    background-color: #042858;
}

/* ABOUT SA'ADA APU START */

.aboutmain{
    margin: 20px;
    width: 800px;
    display:block;
    margin:auto;
}

/*contains all the texts*/
.abouttext{
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around; /* items are evenly distributed in the line with equal space around them*/
}

/*the main heading- about us*/
.abouthead2{
    font-size: 50px;
    font-family: 'Teko';
    letter-spacing: 3px;    
    color: white;
    text-shadow: 1px 1px 2px #1f3549;
    letter-spacing: 4px;

}

/*Sub-heading*/

.abouthead5{
    font-size: 24px;
    font-family: 'Play';
    color: white;
    text-shadow: 2px 2px 3px #294661;
    padding: 0px;
    margin: 0px;

/*the body text*/
}
.aboutpara{
    font-size: 20px;
    font-family: 'Play';
    line-height: 1.8rem;
    color: white;
    margin: 50px 0px;
    text-shadow: 2px 2px 3px #1d3c41;
    background-color:#00000055;
    padding: 100px 50px;
}

.aboutbtn{
    border: none;
    padding: 1.5rem 3rem; /*height,width*/
    border-radius: 4rem;
    /*background-color:rgb(237, 76, 70);*/
    background-color: #1c81ad;
    /*background-image: linear-gradient(to bottom,#16a0c3, rgb(110, 187, 250));*/
    font-size: 1.2rem;
    margin: 25px;
    font-family: 'PT Sans', sans-serif;
    /*text-shadow: 2px 2px 3px #643a3f;*/
    text-shadow: 2px 2px 3px #145672;
    margin-bottom: 100px;
}

.aboutbtn:hover{
    background-color: #1f8fbf;
}

/* ABOUT SA'ADA APU END */


/* Testimonials start */


#testimonials{
    background: #042858;
    min-height: 100vh;
}

.testiwrapper .testiheader{
	width: 100%;
	height: 50px;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Teko';
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
    padding-top: 100    px;
    padding-bottom: 30px;
}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
    box-shadow: 0 4px 8px 0 rgba(103, 179, 255, 0.47), 0 6px 20px 0 rgba(102, 101, 101, 0.19);
    transition: 0.3s;
}

.cards_wrap .card_item:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  }

.cards_wrap .card_inner{
	background: #fff;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: #042858;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
    font-family: 'Play';
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}

/* Testimonials end */


/* Packages start */

#packages{
    background-color:  #042858;
    min-height: 100vh;
}

/*contains all the boxes*/
.packcontainer{
    display: flex;
    justify-content: space-around;
}

/*modifies size, position and other properties of all 3 boxes*/
.packcontainer div{
    border:0px;
    padding:150px 50px;
    background-color: #223656c3;
    align-items: center;
    margin: 20px;
    border-radius: 2rem;
    
}

.packbox1{
    flex: 1;
    order:1;
    margin:10px;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(103, 179, 255, 0.47), 0 6px 20px 0 rgba(102, 101, 101, 0.19);

}
.packbox1:hover{
    background-color: rgba(44, 75, 105, 0.748);
    box-shadow: 0px 0px;
}

.packbox2{
    flex:1; 
    order:2;
    margin:10px;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(103, 179, 255, 0.47), 0 6px 20px 0 rgba(102, 101, 101, 0.19);
}


.packbox2:hover{
    background-color: rgba(44, 75, 105, 0.748);
    box-shadow: 0px 0px;

}


.packbox3{
    flex:1;
    order: 3;
    margin:10px;
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(103, 179, 255, 0.47), 0 6px 20px 0 rgba(102, 101, 101, 0.19);

}


.packbox3:hover{
    background-color: rgba(44, 75, 105, 0.748);
    box-shadow: 0px 0px;

}

.header{
    color: #1c81ad;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1.5px 1.5px 1.5px #11304b;
    font-family: 'Play'
}

.para{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Play';
}

.packhead{
    color: white;
    font-size: 45px;
    float: center;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Teko';
    text-transform: uppercase;
    letter-spacing: 3px;    
    text-shadow: 1px 1px 1px #0a1118;
}

/* Packages end */

/* Sign up form starts */

#signup{
    background-color:  #042858;
    font-size: 12px;    
  } 
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .signbackground {
    display: flex;
    min-height: 100vh;
  }
  
  .signhead{
    font-family: 'Teko';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 0px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    font-weight: 800;
    border: none;
    color: #196391;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #196391;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
/* Sign up form ends */

